<style>
    form span {
        width: 100px;
    }
</style>
<div class="row justify-content-center">
    <div class="col-6">
        <h1 class="text-center">회원가입</h1>
        <form name="frm" class="crad p-3">
            <div class="input-group mb-3">
                <span class="input-group-text">e-mail</span>
                <input name="email" class="form-control" value="cute@test.com">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">password</span>
                <input name="password" class="form-control" type="password" value="12341234">
            </div>
            <button class="btn bg-primary w-100">회원가입</button>
        </form>
    </div>
</div>

<script type="module">
    import {app} from '/javascripts/firebaseInit.js';
    import {getAuth, createUserWithEmailAndPassword }
        from "https://www.gstatic.com/firebasejs/10.4.0/firebase-auth.js";
    const auth=getAuth(app);

    $(frm).on('submit', function(e){
        e.preventDefault();
        const email=$(frm.email).val();
        const password=$(frm.password).val();
        if(email.includes("@")==false){
            alert("이메일 형식으로 입력")
        }else if(password.length < 8){
            alert("비밀번호는 8자리 이상")
        }else{
            createUserWithEmailAndPassword(auth, email, password).then(success=>{
                alert("회원가입 완료");
                location.href="/users/login"
            }).catch(error=>{
                alert("이미 등록된 이메일")
            })
        }
    })

</script>